/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 226px;
}
.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
    
}
nav a {
    text-decoration: none ;
    color: var(--Dark-02, #474747);
font-size: 20px;
font-style: normal;
font-weight: 400;

}
.btn-primary {
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: var(--White-Color, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 35px;
}
.header {
    background-color: #FFF8F3;
}
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture {
    width: 584px;
    height: 676px;
}
